@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto:wght@100&display=swap');

/* base style */

*{
    font-family: 'Quicksand', sans-serif;
    color: #684DEC;
}
body{
  background: linear-gradient(107.76deg, #EBF6FF 6.69%, #ECECFE 52.99%, #FEEFF3 98.71%) ;

}

.prescription-preview {
    padding: 10px 16px 15px 15px;
    width: 690px;
    margin: 20px 0;
    border: 1px solid #684DEC;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .prescriptionlist-preview{
    display:grid;
    justify-content: center;
  }
  
  .prescriptionlist-preview h1{
    margin-left: -45px;
    opacity: 100%;
  }

  .prescription-preview button{
        background: #684DEC;
        width: 40%;
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        border: 0;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
  }

  .form{
    padding-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .form label{
    text-align: left;
    display: block;
  }
  .form h1{
    margin-left: -500px;
    margin-bottom: 40px;
  }
  .form input, .form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #684DEC;
    border-radius: 8px;
  }

  .form textarea{
    height: 100px;
  }

  .form div{
    display:flex;
    justify-content: flex-end;

  }
  .form button {
    background: #684DEC;
    color: #fff;
    border:none;
    margin-left:20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    outline:none;
  }
  .logo{
    vertical-align: text-bottom;
    margin-right: 10px;
  }
  .toolbar-buttons{
    background-color: transparent;
        font-family: 'Quicksand', sans-serif;
        color: #684DEC;
        font-size: large;
        border: 0;
        margin: 10px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
  }


