@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto:wght@100&display=swap');

/* base style */

*{
    font-family: 'Quicksand', sans-serif;
    color: #684DEC;

    background: linear-gradient(107.76deg, #EBF6FF 6.69%, #ECECFE 52.99%, #FEEFF3 98.71%);
}
.prescription-preview {
    padding: 10px 16px 15px 15px;
    width: 690px;
    margin: 20px 0;
    border: 1px solid #684DEC;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .prescriptionlist-preview{
    display:grid;
    justify-content: center;
  }
  
  .prescriptionlist-preview h1{
    margin-left: -45px;
    opacity: 100%;
  }

  .prescription-preview button{
        background: #684DEC;
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        border: 0;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
  }



